<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

<body>
    <form action="/register" method="post">
        <label for="username">Username</label>
        <br><br>
        <input name="username" id="username" required>
        <br><br>
        <label for="password">Password</label>
        <br><br>
        <input type="password" name="password" id="password" required>
        <br><br>
        <label for="password_repeat">Repeat password</label>
        <br><br>
        <input type="password" name="password_repeat" id="password_repeat" required>
        <input type="submit" value="Register">
    </form>
    <h3 name="result_info">{{result_info}}</h3>
    </head>

    <body>

    </body>

</html>