<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        window.addEventListener("load", function () {
            var response_status;
            entry_add = document.querySelector("form");
            warning = document.getElementById("result_info");
            entry_add.addEventListener("submit", function (event) {
                event.preventDefault();
                let username_val = document.getElementById("username").value;
                let password_val = document.getElementById("password").value;
                let servicename_val = document.getElementById("servicename").value;
                let special_password_val = document.getElementById("special_password").value;
                let json_data = JSON.stringify({
                    username: username_val,
                    password: password_val,
                    servicename: servicename_val,
                    special_password: special_password_val
                });
                fetch("/entry-add?" + new URLSearchParams({
                    token: document.cookie.substring(6)
                }), {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: json_data
                    }
                ).then((response) => {

                    if (response.redirected) {
                        response_status = true;
                        window.location.href = response.url;
                    }
                    return response.text();
                }).then((text) => {
                    if(!response_status)
                        warning.innerText = text;
                });
            });

            password_input = document.getElementById("special_password");
            message_output = document.getElementById("result_info_strenght")

            password_input.addEventListener("input", function (event) {
                let data = JSON.stringify({
                    check: password_input.value
                })
                fetch("/password", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: data
                    }
                ).then((response) => response.json()).then((json) => {
                    let output = "";
                    let indicator = "";
                    for (let key in json) {
                        switch (key) {
                            case 'password':
                                indicator = json[key] === false ? " valid.\n" : " not valid.\n";
                                output += "Password is" + indicator;
                                break;
                            case 'length':
                                indicator = json[key] === false ? " valid.\n" : " not valid.\n";
                                output += "Length of the password is" + indicator;
                                break;
                            case 'digits':
                                indicator = json[key] === false ? " valid " : " not valid ";
                                output += "There is a" + indicator + "number of digits.\n";
                                break;
                            case 'uppercase':
                                indicator = json[key] === false ? " valid " : " not valid ";
                                output += "There is a" + indicator + "number of uppercase letters.\n";
                                break;
                            case 'lowercase':
                                indicator = json[key] === false ? " valid " : " not valid ";
                                output += "There is a" + indicator + "number of lowercase letters.\n";
                                break;
                            case 'symbol':
                                indicator = json[key] === false ? " valid " : " not valid ";
                                output += "There is a" + indicator + "number of special symbols.\n";
                                break;
                        }
                    }
                    message_output.innerText = output;

                });
            });
        });
    </script>
</head>

<body>
<form id="entry-add-form" action="/entry-add" method="post">
    <label for="username">Username within of the account you wish to save password to:</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label for="username">Password within to the account you wish to save password to:</label><br>
    <textarea rows="20" cols="100" id="password" name="password"></textarea><br><br>
    <label for="servicename">The name of the service of said account:</label><br>
    <input type="text" id="servicename" name="servicename"><br><br>
    <label for="special_password">Special password with which you wish to encrypt this account, should be between 4 and 30 characters : </label><br>
    <input type="password" id="special_password" name="special_password"><br><br>
    <input type="submit" value="Submit" name="submit">
    <h5 id="result_info_strenght"></h5>
</form>
    <h5 id="result_info"></h5>


<form id="entries" action="/entry" method="get">
    <input type="submit" value="Entries">
</form>
</body>

</html>